<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!-- TinyMCE init 스크립트 추가 -->
<script>
    tinymce.init({
        selector: 'textarea.tiny'
    });
</script>
</body>
</html>